@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
/* header css start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 120px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: #f00;
}
#menu_icon {
  color: #fff;
  font-size: 36px;
  display: none;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
  .list_box_mg {
    margin: 50px 0;
  }
  .text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
  }
}

@media (max-width: 768px) {
  #menu_icon {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav_bg {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: none;
  }
  .nav_bg.active {
    display: block;
  }
  #about {
    min-height: 100vh;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
/* header css start */

/* main  css start*/
.home {
  min-height: 100vh;
  background: #1f242d;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.home h2:nth-child(1) {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  font-size: 200px;
  font-weight: 600;
}
.home h2:nth-child(2) {
  position: absolute;
  top: 70%;
  right: 0;
  transform: translateY(-50%);
  font-size: 200px;
  font-weight: 600;
}
/* main  css end*/

/* about css start*/
.about {
  min-height: 100vh;
  background: #323946;
  color: #fff;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
}
.about h2 {
  display: block;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
}

.skill {
  width: 1180px;
  margin: 30px auto;
}
.skill > h3 {
  margin-bottom: 30px;
}
.skill ul {
  display: flex;
  justify-content: space-around;
}
.skill ul li {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  width: 30%;
}
.skill ul li img {
  display: block;
  width: 150px;
  margin: 0 auto 20px;
}
.skill ul li p {
  font-size: 14px;
  text-align: left;
  margin: 10px 0 0;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
}
.skill ul li p span {
  display: block;
  position: relative;
}
.skill ul li p span::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: -11px;
  top: 8px;
  background: #fff;
}
.skill .bottom {
  margin: 30px 0;
  height: 30vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 20, 20, 1) 0%,
    rgba(7, 7, 71, 1) 100%
  );
  border-radius: 30px;
}
.skill .bottom .left {
  width: 50%;
  float: left;
}
.skill .bottom .left div {
  padding: 50px;
  width: 500px;
}
.skill .bottom .left h3 {
  text-align: right;
  font-size: 70px;
  font-weight: 700;
}
.skill .bottom .left h3 span {
  display: block;
  margin-top: 25px;
}
.skill .bottom .right {
  width: 50%;
  float: right;
}
.skill .bottom .right ol {
  width: 500px;
  padding: 50px 0;
}
.skill .bottom .right ol li {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.skill .bottom .right ol li:last-child {
  margin-bottom: 0;
}
/* .marquee_box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.marquee {
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  padding: 5px 0;
}
.marquee h2 {
  font-size: 5em;
  margin: 0 10px;
  white-space: nowrap;
  text-transform: uppercase;
}
.wrap {
  margin: 0 auto;
  width: 1920px;
  max-width: 100%;
}
.wrap--logobar {
  height: 150px;
  overflow: hidden;
  position: relative;
}
.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  margin-left: 0;
}
.list__item {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px 0;
  text-align: center;
  width: 20%;
}
.list__item img {
  width: 100px;
} */

.education {
  width: 1180px;
  margin: 30px auto;
  clear: both;
}
.education h3 {
  margin-bottom: 30px;
}
.swiper-container {
  overflow: hidden;
  position: relative;
}
.education .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  padding: 0px 20px 0px 60px;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div {
  width: 920px;
  margin: 0 auto;
  position: relative;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -41px;
  bottom: 0px;
  border-left: 1px solid #08ffc8;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div .icon {
  position: absolute;
  left: -60px;
  right: 0px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: black;
  background-color: #08ffc8;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div .icon i {
  margin-top: 7px;
  font-size: 25px;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div .time {
  display: block;
  width: 130px;
  text-align: center;
  padding: 1px 10px;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: rgb(37, 37, 37);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  opacity: 0.8;
}

.education .swiper-container .swiper-wrapper .swiper-slide > div > h4 {
  margin: 7px 0px 10px;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div > h4 span {
  position: relative;
  padding-left: 26px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div > p {
  font-size: 14px;
  line-height: 20px;
}
.education
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  > div
  > h4
  span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  left: 7px;
  top: 9px;
  opacity: 0.8;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div a {
  background: url(../assets/notion.svg) no-repeat center;
  padding-left: 37px;
  width: 30px;
  height: 25px;
  color: #fff;
  margin: 12px 0 0;
  display: inline-block;
  line-height: 25px;
  font-size: 14px;
  left: -7px;
  position: relative;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div a:hover {
  background: url("../assets/notion\ 2.svg") no-repeat center;
  color: rgba(255, 255, 255, 0.7);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 90% !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
/* about css end*/

/* portfolio css start */
.portfolio {
  background: rgb(136 96 96 / 10%);
  overflow: unset !important;
  position: relative;
  display: block;
  min-height: 100vh;
  padding-top: calc(100vw * 0.1);
  padding-bottom: calc(100vw * 0.1);
}
.portfolio > div {
  width: 1920px;
  max-width: 100%;
  display: block;
  height: 2750px;
}
.portfolio > div .left {
  position: sticky;
  top: 30%;
  width: 50%;
  height: 100vh;
  float: left;
  color: #000;
  padding: calc((100vw - 180px) * 0.06);
}
.portfolio > div .left h2 {
  font-size: 3vw;
  line-height: 3.3vw;
  font-weight: 400;
}
.portfolio > div .left h3 {
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 400;
  margin-bottom: 30px;
}
.portfolio > div .right {
  width: 50%;
  float: left;
  height: 100%;
}
.portfolio > div .right a {
  display: block;
  padding: 0 0 4vw 0;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 500;
  line-height: 1.2em;
  color: #000;
}
.portfolio > div .right a img {
  width: 100%;
  height: 60vh;
}
.portfolio > div .right a span {
  display: block;
  padding: 25px;
}

/* portfolio css end */

/* contact css start */
.contact {
  position: relative;
  display: block;
  min-height: 100vh;
  background: #323946;
  color: #fff;
  overflow: hidden;
  width: 1920px;
  max-width: 100%;
  padding: 0 0 80px 0 ;
}
.contact > h2 {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  margin: 80px 0;
  position: relative;
}
/* .contact .section-title {
  margin: 30px 0;
  font-size: 64px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: -30%;
  z-index: 1;
  white-space: nowrap;
}
.contact .section-title  span {
  position: relative;
  display: block;
} */
.contact .contact_box {
  position: relative;
  width: 1180px;
  margin: 100px auto;
}
.contact .contact_box .left {
  float: left;
}
.contact .contact_box .left img {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.contact .contact_box .right {
  float: right;
  width: 50%;
}
.contact .contact_box .right .txt_box {
  display: flex;
  align-items: center;
  padding: 0 0 25px 0;
}
.contact .contact_box .right .txt_box .static_txt {
  font-size: 50px;
  color: #fff;
}
.contact .contact_box .right .txt_box .dynamic_txt {
  margin-left: 1.2em;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.contact .contact_box .right .txt_box .dynamic_txt li {
  position: relative;
  top: 0;
  font-size: 60px;
  color: #0ef;
  list-style: none;
  padding: 0 20px;
  text-shadow: 0 0 10px #0ef;
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
@keyframes colorful {
  100% {
    filter: hue-rotate(360deg);
  }
}
.contact .contact_box .right .txt_box .dynamic_txt span {
  position: relative;
  margin: 5px 0;
  line-height: 80px;
}
.contact .contact_box .right .txt_box .dynamic_txt span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 105%;
  width: 100%;
  background: #323946;
  border-left: 5px solid #0ef;
  animation: typings 3s steps(10) infinite;
}
@keyframes typings {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.contact .contact_box .right .info {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
}
.contact .contact_box .right .info h2 {
  width: 100%;
  text-align: start;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact .contact_box .right .info li {
  width: 50%;
  color: #08ffc8;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 0;
}
.contact .contact_box .right .info li span {
  font-weight: 400;
  opacity: 0.8;
  color: #fff;
}

.contact .contact_box .right .link {
  padding: 25px 0;
}
.contact .contact_box .right .link h2 {
  text-align: start;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact .contact_box .right .link li {
  display: inline-block;
}
.contact .contact_box .right .link li:nth-child(2) {
  background: url("../assets/kakaotalk\ 1.svg") no-repeat center;
}
.contact .contact_box .right .link li:nth-child(2) a {
}
.contact .contact_box .right .link li:nth-child(3) {
  background: url("../assets/naver\ 1.svg") no-repeat center;
}
.contact .contact_box .right .link li:nth-child(4) {
  background: url("../assets/github\ \(1\)\ 1.svg") no-repeat center;
}
.contact .contact_box .right .link li a {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  text-decoration: none;
  color: transparent;
  margin: 5px 15px;
}
.contact .contact_box .right .link li a:hover {
  background: rgba(45, 91, 121, 0.3);
}
/* contact css end */

.gototop{
  overflow: hidden;
}

.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 30px 0 50px;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 8vw;
	counter-reset: menu;
  background: #1f242d;
}

.menu__item {
	cursor: default;
	position: relative;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 1.5px #000;
	text-stroke: 1.5px #000;
	-webkit-text-fill-color: #fff;
	text-fill-color: #fff;
	color: #fff;
	transition: opacity 0.4s;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee1 {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee1 1s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee1 .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee1 span {
	text-align: center;
}

.menu__item-link,
.marquee1 span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
}

.marquee1 span {
	font-style: italic;
}

@keyframes marquee1 {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

/* footer css start */
footer{
  background: #fff;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding: 10px 0;
}
/* footer css end */