@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: #c1c0b6;
  color: #3f3b37;
  position: relative;
  /* 스크롤바 제거 */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
/* ( 크롬, 사파리, 오페라, 엣지 )  */
body::-webkit-scrollbar {
  display: none;
}
/* interSectionObserve css start */
.fade {
  transition: 1s ease-in;
}
.fadeOut {
  opacity: 0;
}
.fadeIn {
  opacity: 1;
}

.fadeUp {
  transition: 0.7s ease-in;
}
.fadeUpOut {
  transform: scaleY(0);
}
.fadeUpIn {
  transform: scaleY(1);
}
/* interSectionObserve css end */
/* header css start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 120px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.navbar a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 2em;
  transition: 0.3s;
  cursor: pointer;
}
.navbar a:hover,
.navbar a.active {
  color: #d6ae5d;
}
#menu_icon {
  color: #fff;
  font-size: 36px;
  display: none;
}

/* header css start */

/* load  css start*/
.load {
  color: #fff;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: all 0.5s;
}
.load.hide {
  z-index: -9999;
}
.load .bg {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: transform 0.5s;
  animation: loaded 0.4s cubic-bezier(0.3, 0.06, 0.96, 0.57) 3s 1 forwards;
}
@keyframes loaded {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}

.load h2 {
  position: absolute;
  font-size: 11vw;
  font-weight: 600;
}

.load h2:nth-child(1) {
  top: 25%;
  left: 5%;
  animation: loadRight 0.7s ease-in;
}
@keyframes loadRight {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.load h2:nth-child(2) {
  top: 50%;
  right: 5%;
  animation: loadLeft 0.7s ease-in;
}
@keyframes loadLeft {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.load .bg .load_top {
  font-size: 4vw;
  position: absolute;
  top: 36%;
  right: 17%;
  animation: loadTop 1.5s ease-in 0.5s;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.load .bg .load_top.visible {
  opacity: 1;
}
@keyframes loadTop {
  from {
    transform: translate3d(0, 20%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* load  css end*/
/* home css start */
.home {
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background: rgb(136 96 96 / 10%); */
}
.home-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-wrapper h2 {
  font-size: 10vw;
  font-weight: 500;
  cursor: default;
}
.home-span {
  display: inline-block;
}

.home-span-section2 {
  display: block;
}
.home-span-section1 .home-span,
.home-span-section2 .home-span {
  transition: 0.2s;
  opacity: 0;
}
.home-span-section1 .home-span.onmouseover,
.home-span-section2 .home-span.onmouseover {
  color: white;
  text-shadow: 0 0 15px white, 0 0 25px white;
}
.home-span-section1 .home-span.home-animation,
.home-span-section2 .home-span.home-animation {
  opacity: 1;
}
.home-animation {
  animation: homeanimation 1s ease-in;
}
@keyframes homeanimation {
  0% {
    transform: translate3d(0, -40%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes loading {
  from {
    height: 100vh;
  }
  to {
    height: 0;
  }
}

.home .home-btn {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  margin-top: 1em;
  padding: 1.5em 5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #3f3b37;
  border-radius: 100vw;
  background-color: #3f3b37;
  color: #3f3b37;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
}
.home .home-btn .home-btn-1 {
  position: absolute;
  z-index: 3;
  color: rgb(193, 192, 182);
  transform: translate3d(0, 3em, 0);
  transition: 0.6s;
}
.home .home-btn .home-btn-2 {
  color: #deddcf;
  transform: translate3d(0, 0, 0);
  transition: 0.6s;
}
.home .home-btn .home-btn-3 {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 0;
  border-radius: 100vw;
  background-color: #d6ae5d;
  transition: 1s;
}

/* home css end */
/* about css start*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 150px 0;
}
.about .about-title {
  margin-bottom: 100px;
}
.about .about-title h2 {
  font-size: 6rem;
  font-weight: 500;
  font-style: italic;
  white-space: nowrap;
}

.skill {
  width: 1180px;
  max-width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.skill h3 {
  margin: 0 0 2em 1em;
  font-size: 1.5rem;
  font-weight: 500;
}

.skill .language {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4em;
}
.skill .language li {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  width: 30%;
  overflow: hidden;
}
.skill .language li .skill-top {
  transform: scaleY(0);
  transition: 1.5s;
}
.skill .language li .skill-top img {
  display: block;
  width: 150px;
  margin: 0 auto 20px;
}
.skill .language li .skill-top p {
  font-size: 1.5rem;
}
.skill .language li .skill-bottom {
  font-size: 1.2rem;
  text-align: left;
  margin: 10px 0 0;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 10px 20px 10px 30px;
  opacity: 0;
  transition: 2s;
}

.skill .language li .skill-bottom p {
  display: block;
  position: relative;
  margin: 5px 0;
}
.skill .language li .skill-bottom p::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: -11px;
  top: 8px;
  background: #fff;
}
.strength {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}
.strength h3 {
  margin: 0 0 2em 1em;
  font-size: 1.5rem;
  font-weight: 500;
}
.strength ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  margin: 0 auto 2em;
  padding: 0 20px;
}

.strength ul li {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 60px;
  padding: 0;
  margin: 20px 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 1s;
}
.strength ul li:hover {
  background: rgba(255, 255, 255, 1);
}
.education {
  width: 1180px;
  max-width: 100%;
  margin: 30px auto;
  clear: both;
}
.education h3 {
  margin: 0 0 2em 1em;
  font-size: 1.5rem;
  font-weight: 500;
}
.swiper-container {
  overflow: hidden;
  position: relative;
}
.education .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  padding: 0px 20px 0px 60px;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div {
  width: 920px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -41px;
  bottom: 0px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.education .swiper-container .swiper-wrapper .swiper-slide > div .icon {
  position: absolute;
  left: -60px;
  right: 0px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #3f3b37;
  background-color: rgba(255, 255, 255, 0.5);
}
.education .swiper-container .swiper-wrapper .swiper-slide > div .icon i {
  margin-top: 7px;
  font-size: 25px;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div .time {
  display: block;
  width: 165px;
  text-align: center;
  padding: 1px 10px;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  opacity: 0.8;
}

.education .swiper-container .swiper-wrapper .swiper-slide > div > h4 {
  margin: 7px 0px 10px;
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.8;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div > p span {
  position: relative;
  padding-left: 26px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div > p {
  font-size: 1.2rem;
  line-height: 40px;
}
.education
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  > div
  > p
  span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  left: 7px;
  top: 9px;
  opacity: 0.8;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div a {
  background: url(../assets/notion.svg) no-repeat center;
  padding-left: 37px;
  width: 30px;
  height: 25px;
  color: #3f3b37;
  margin: 12px 0 0;
  display: inline-block;
  line-height: 25px;
  font-size: 14px;
  left: -7px;
  position: relative;
}
.education .swiper-container .swiper-wrapper .swiper-slide > div a:hover {
  color: #d6ae5d;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 90% !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #3f3b37 !important;
}
/* about css end*/

/* portfolio css start */
.portfolio {
  /* background: rgb(136 96 96 / 10%); */
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: calc(100vw * 0.1) 0;
}

.portfolio .left {
  position: sticky;
  top: 30%;
  width: 50%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding-left: calc(100vw * 0.1);
  color: #3f3b37;
}

.portfolio .left span:first-child {
  font-size: 4rem;
  line-height: 1;
  font-weight: 500;
}
.portfolio .left span:last-child {
  font-size: 6rem;
  line-height: 1;
  font-weight: 600;
}
.portfolio .right {
  width: 50%;
  padding: 0 20px;
}
.portfolio .right a {
  display: block;
  padding: 0 0 4vw 0;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 400;
  color: #3f3b37;
}
.portfolio .right a:last-child {
  padding: 0;
  margin-bottom: 0;
}
.portfolio .right a img {
  width: 100%;
}
.portfolio .right a p {
  display: flex;
  align-items: center;
  padding: 25px;
}
.portfolio .right a p .project-description {
  font-size: 1rem;
  line-height: 24px;
  margin: 0 0 0 2em;
}
/* portfolio css end */

/* footer css start */
.footer {
  display: flex;
  min-height: 101vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0 0 0;
}
.footer .contact-title {
  margin-bottom: 100px;
}
.footer .contact-title h2 {
  font-size: 6rem;
  font-weight: 500;
  font-style: italic;
  white-space: nowrap;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;
}
.footer-wrapper > div {
  overflow: hidden;
}
.footer-wrapper h2 {
  font-size: 5em;
  font-weight: 600;
  line-height: 1.1;
  transition: 1s ease-in;
  transform: translate3d(0, 100%, 0);
}
.footer-wrapper h2 .footer-colored {
  cursor: default;
  transition: 0.2s;
}
.footer-wrapper .footer-btn {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  width: 70%;
  margin-top: 1em;
  padding: 1.5em 5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #3f3b37;
  border-radius: 100vw;
  background-color: #3f3b37;
  color: #3f3b37;
  font-size: 1em;
  text-transform: uppercase;
  transition: 1s;
  opacity: 0;
}
.footer-wrapper .footer-btn .footer-btn-1 {
  position: absolute;
  z-index: 3;
  color: rgb(193, 192, 182);
  transform: translate3d(0, 3em, 0);
  transition: 0.6s;
}
.footer-wrapper .footer-btn .footer-btn-2 {
  color: #deddcf;
  transform: translate3d(0, 0, 0);
  transition: 0.6s;
}
.footer-wrapper .footer-btn .footer-btn-3 {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 0;
  border-radius: 100vw;
  background-color: #d6ae5d;
  transition: 1s;
}
.footer-bottom-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  background-color: #c1c0b6;
}
.footer-bottom-wrapper .footer-block {
  display: flex;
  width: 33.3333333%;
  min-height: 9em;
  padding: 1.3em 1.3em 0.3em;
  flex-direction: column;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.footer-bottom-wrapper .footer-block .footer-p {
  width: 100%;
  height: 100%;
  font-size: 0.9em;
}
.footer-block a {
  text-decoration: none;
  position: relative;
}
.footer-block h3 {
  color: #3f3b37;
  text-align: left;
  padding-bottom: 1em;
  font-family: Neuehaasdisplaymediu, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}
.footer-block .footer-social-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.footer-block .footer-social-wrapper .social {
  position: relative;
  display: flex;
  width: 1.4em;
  margin-right: 1em;
  flex-direction: column;
}

/* footer css end */
/* quickmenu css start */
.quickmenu {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 99;
}
.quickmenu i {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* quickmenu css end */
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
  .load h2:nth-child(1) {
    top: 40%;
    left: 5%;
    font-size: 10vw;
  }
  .load h2:nth-child(2) {
    top: 45%;
    left: 5%;
    font-size: 12vw;
  }
  .load .bg .load_top {
    font-size: 5vw;
    top: 52%;
    left: 5%;
  }
  .home-wrapper {
    padding: 0 2em;
  }
  .home-wrapper h2 {
    font-size: 12vw;
  }
  .about {
    padding: 50px 0;
  }
  .about .about-title {
    margin-bottom: 50px;
  }
  .about .about-title h2 {
    font-size: 5rem;
  }
  .skill h3 {
    margin: 0 0 0.5em 1em;
  }
  .skill .language {
    flex-direction: column;
  }
  .skill .language li {
    margin: 1em 0;
    width: 100%;
  }
  .skill .language li .skill-top {
    display: flex;
    align-items: center;
  }
  .skill .language li .skill-top img {
    display: inline-block;
    width: 25vw;
    margin: 0 0 0 1em;
  }
  .skill .language li .skill-top p {
    font-size: 1rem;
    display: inline-block;
    margin-left: 1em;
  }
  .skill .language li .skill-bottom {
    font-size: 0.9rem;
    margin: 1em 1em 0;
    line-height: 1, 4;
    background: rgba(255, 255, 255, 0.3);
  }
  .strength h3 {
    margin: 0 0 0.5em 1em;
  }
  .strength ul {
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .strength ul li {
    font-size: 1.2rem;

    margin: 10px 30px;
  }
  .education h3 {
    margin: 0 0 0.5em 1em;
  }
  .swiper-container {
    margin-top: 2em;
  }
  .education .swiper-container .swiper-wrapper .swiper-slide > div > p {
    font-size: 0.7rem;
    line-height: 1.5;
    padding-right: 1em;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .portfolio {
    display: block;
    padding: 0;
  }

  .portfolio .left {
    position: relative;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0 0 2em;
    align-items: center;
    font-size: 3rem;
  }
  .portfolio .left span {
    font-size: 2rem;
  }
  .portfolio .left span:first-child {
    font-size: 2.5rem;
  }
  .portfolio .left span:last-child {
    font-size: 4rem;
  }
  .portfolio .right {
    width: 100%;
  }
  .portfolio .right a img {
    height: auto;
  }
  .portfolio .right a p {
    font-size: 2rem;
    flex-direction: column;
  }
  .portfolio .right a p .project-description {
    margin: 1em 0 0 0;
  }
  .footer {
    padding: 100px 0 0 0;
  }
  .footer .contact-title {
    margin-bottom: 0;
  }
  .footer .contact-title h2 {
    font-size: 5rem;
  }
  .footer-wrapper {
    margin: 0;
  }
  .footer-wrapper h2 {
    font-size: 4em;
    letter-spacing: -8px;
  }
  .footer-wrapper .footer-btn {
    font-size: 0.7em;
  }
  .footer-bottom-wrapper {
    flex-direction: column;
  }
  .footer-bottom-wrapper .footer-block .footer-p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }

  .footer-bottom-wrapper .footer-block {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 3em;
    box-sizing: border-box;
    padding: 0.4em 0.4em;
  }
  .footer-block h3 {
    text-align: center;
  }
  .footer-block .footer-social-wrapper {
    justify-content: center;
  }
  .quickmenu {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
  .quickmenu i {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  #menu_icon {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
    color: #3f3b37;
  }
  .nav_bg {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: none;
  }
  .nav_bg.active {
    display: block;
  }
}
@media (max-width: 460px) {
  .home-wrapper h2 {
    letter-spacing: -2px;
  }
}
