@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header css start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 120px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: #f00;
}
#menu_icon {
  color: #fff;
  font-size: 36px;
  display: none;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
  .list_box_mg {
    margin: 50px 0;
  }
  .text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
  }
}

@media (max-width: 768px) {
  #menu_icon {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav_bg {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: none;
  }
  .nav_bg.active {
    display: block;
  }
  #about {
    min-height: 100vh;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
/* header css start */

/* main  css start*/
.home {
  min-height: 100vh;
  background: #1f242d;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.home h2:nth-child(1) {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  font-size: 200px;
  font-weight: 600;
}
.home h2:nth-child(2) {
  position: absolute;
  top: 70%;
  right: 0;
  transform: translateY(-50%);
  font-size: 200px;
  font-weight: 600;
}
/* main  css end*/

/* about css start*/
.about {
  min-height: 100vh;
  background: #323946;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.about h2 {
  display: block;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
}
.marquee_box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.marquee {
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  padding: 5px 0;
}

.marquee h2 {
  font-size: 5em;
  margin: 0 10px;
  white-space: nowrap;
  text-transform: uppercase;
}
.wrap {
  margin: 0 auto;
  width: 1920px;
  max-width: 100%;
}
.wrap--logobar {
  height: 150px;
  overflow: hidden;
  position: relative;
}
.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  margin-left: 0;
}
.list__item {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px 0;
  text-align: center;
  width: 20%;
}
.list__item img {
  width: 100px;
}
/* about css start*/

/* portfolio css start */
.portfolio {
  background: rgb(136 96 96 / 10%);
  overflow: unset !important;
  position: relative;
  display: block;
  min-height: 100vh;
  padding-top: calc(100vw * 0.1);
  padding-bottom: calc(100vw * 0.1);
}
.portfolio > div {
  width: 1920px;
  max-width: 100%;
  display: block;
  height: 2750px;
}
.portfolio > div .left {
  position: sticky;
  top: 70px;
  width: 50%;
  height: 100vh;
  float: left;
  color: #000;
  padding: calc((100vw - 180px) * 0.06);
}
.portfolio > div .left h2 {
  font-size: 3vw;
  line-height: 3.3vw;
  font-weight: 400;
}
.portfolio > div .left h3 {
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 400;
  margin-bottom: 30px;
}
.portfolio > div .right {
  width: 50%;
  height: 100%;
  float: left;
}
.portfolio > div .right a {
  display: block;
  margin: 4vw 0;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 500;
  line-height: 1.2em;
  color: #000;
  border: 1px solid #000;
}
.portfolio > div .right a img {
  width: 100%;
  height: 60vh;
}
.portfolio > div .right a span {
  display: block;
  padding: 25px;
}

/* portfolio css end */

/* contact css start */
.contact {
  position: relative;
  display: block;
  min-height: 100vh;
  background: #323946;
  color: #fff;
  overflow: hidden;
  width: 1920px;
  max-width: 100%;
}
.contact > h2 {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  margin: 80px 0;
  position: relative;
}
.contact .contact_box {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}
.contact .contact_box .left {
  float: left;
}
.contact .contact_box .left img {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.contact .contact_box .right {
  float: right;
  width: 50%;
}
.contact .contact_box .right .txt_box {
  display: flex;
  align-items: center;
  padding: 0 0 25px 0;
}
.contact .contact_box .right .txt_box .static_txt {
  font-size: 50px;
  color: #fff;
}
.contact .contact_box .right .txt_box .dynamic_txt {
  margin-left: 1.2em;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.contact .contact_box .right .txt_box .dynamic_txt li {
  position: relative;
  top: 0;
  font-size: 60px;
  color: #0ef;
  list-style: none;
  padding: 0 20px;
  text-shadow: 0 0 10px #0ef;
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
@keyframes colorful {
  100% {
    filter: hue-rotate(360deg);
  }
}
.contact .contact_box .right .txt_box .dynamic_txt span {
  position: relative;
  margin: 5px 0;
  line-height: 80px;
}
.contact .contact_box .right .txt_box .dynamic_txt span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 105%;
  width: 100%;
  background: #323946;
  border-left: 5px solid #0ef;
  animation: typings 3s steps(10) infinite;
}
@keyframes typings {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.contact .contact_box .right .info {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
}
.contact .contact_box .right .info h2{
  width: 100%;
  text-align: start;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact .contact_box .right .info li {
  width: 50%;
  color: #08ffc8;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 0;
}
.contact .contact_box .right .info li span {
  font-weight: 400;
  opacity: 0.8;
  color: #fff;
}

.contact .contact_box .right .link{
  padding: 25px 0;
}
.contact .contact_box .right .link h2{
  text-align: start;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact .contact_box .right .link li{
  display: inline-block;
}
.contact .contact_box .right .link li:nth-child(2) {
  background: url('../assets/kakaotalk\ 1.svg') no-repeat center;
}
.contact .contact_box .right .link li:nth-child(2) a{
}
.contact .contact_box .right .link li:nth-child(3) {
  background: url('../assets/naver\ 1.svg') no-repeat center;
}
.contact .contact_box .right .link li:nth-child(4) {
  background: url('../assets/github\ \(1\)\ 1.svg') no-repeat center;
}
.contact .contact_box .right .link li a{
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  text-decoration: none;
  color: transparent;
  margin: 5px 15px;
}
.contact .contact_box .right .link li a:hover{
  background: rgba(45, 91, 121, 0.3);
}
/* contact css end */
