.megamenu {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: $white;
  nav {
    padding: 58px 0 0;
    a {
      display: flex;
      align-items: center;
      padding: 0 20px;
      height: 48px;
      font-size: 15px;
      color: $grey28;
      &:hover,
      &:focus {
        background-color: $greyf6;
      }
    }
    li {
      &[data-last] {
        position: relative;
        margin-bottom: 10px;
        &::after {
          content: "";
          @include position(left, 0, bottom, 0);
          width: 100%;
          border-bottom: 1px solid $grey7;
        }
      }
      &.bold a {
        color: $black;
        font-weight: 700;
      }
    }
  }
  .btn_close {
    @include position(top, 0, right, 0);
    cursor: pointer;
  }
  .app {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px 9px;
    padding: 10px 20px 20px;
    &__txt {
      grid-column: 1 / 3;
      font-size: 14px;
      color: $grey6f;
    }
    a {
      border-radius: 8px;
      white-space: nowrap;
      padding: 9px 12px;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      border: 1px solid rgb(190, 192, 196);
      color: rgb(40, 42, 46);
    }
  }
}
