//Position
@mixin position($x, $xvalue, $y, $yvalue) {
  position: absolute;
  #{$x}:$xvalue;
  #{$y}:$yvalue;
  @if ($xvalue == 50% and $yvalue == 50%) {
    transform: translate(-50%, -50%);
  }@else if ($xvalue == 50%){
    transform: translateX(-50%);
  }@else if ($yvalue == 50%){
    transform: translateY(-50%);
  }
}

//Responsive
@mixin mobile {
    @media (min-width:0px) and (max-width:$web) {
      @content;
    }
}

//Background
//파일명, x축, y축, 배경색, 가로, 세로
@mixin bg(
  $fileName,
  $x: null,
  $y: null,
  $color: null,
  $width: null,
  $height: null
) {
  background: url(#{$imageUrl}#{$fileName}) no-repeat $x $y $color;
  background-size: $width $height;
}
//IR
@mixin hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
