//색상
$purple : rgb(96, 36, 198);
$grey28: rgb(40, 42, 46);
$grey96: rgb(150, 152, 156);
$grey7: rgb(231, 233, 236);
$grey6f: rgb(90, 92, 96);
$greydd: rgb(221, 223, 226);
$greyf6: #f6f6f6; 
$white: #fff;
$black: #000;

//이미지경로
$imageUrl : "../image/";

//반응형
$web: 1024px;