.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 40px 0;
    &__nav{
        display: flex;
        align-items: center;
        gap: 40px;
    }
}
.logo{
    font-size: 0px;
}
.spot-menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    //left와 right에 0을 주면 width 100% 효과가 난다.
    border-bottom: 1px solid $grey7;
    padding: 0 40px;
    nav{
        display: flex;
        justify-content: flex-end;
    }
    ul{
        display: flex;
    }
    li{
        +li{
            display: flex;
            //자식요소들이 block요소가 된다.
            align-items: center;
            height: 30px;
            &::before{
                content: "";
                width: 2px;
                height: 10px;
                background-color: $greydd;
                margin: 0 20px;
            }
        }
    }
    a{
        font-size: 13px;
        color: $grey6f;
    }
    [aria-hidden]{
        display: none;
    }
}