html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
.global-width{
	max-width: 620px;
	/* max-width로 넣는 이유는 모바일기기로 볼경우 반응형 처리하기 위해 넣는다. */
	margin: 0 auto;
	padding: 0 1rem;
	/* max-width로 넣어서 모바일 화면으로 보게되면 여백없이 꽉차기 때문에 padding을 넣어 여백을 준다 */
}
.scroll-graphic{
	overflow-x: hidden;
	position: sticky;
	top: 0;
	/* 화면 최상단이 됐을 경우 sticky가 된다. */
	height: 100vh;
}
.graphic-item{
	display: flex;
	align-items: center;
	justify-content: center;
	/* image가운데 정렬 */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s;
	will-change: opacity;
	/* 브라우저에게 미리 opacity가 변경될 것을 알려주어 브라우저에게 준비를 시켜 더 효율적으로 작동하게하지만, 
	너무 남발하게되면 비효율적이므로 적절히 사용한다. */
}
.visible{
	opacity: 1;
}
.scene-img{
	max-height: 100vh;
}
.scroll-text{
	position: relative;
	/* 기본값은 stacic이므로 relative로 주어 올라올수있게 해준다. */
	padding-bottom: 1px;
	/* 상하단 margin 병합 현상때문에 넣는다 
	마진병합 현상의 조건
	1. 인접해있는 block요소끼리만 발생한다.
	2. 상하단에서만 발생한다.
	야기서는 scroll-text가 부모고 step이 자식요소로 css가 들어가는데 그 둘이 조건에 부합하여 마진병합 현상이 발생하여
	하단의 마진이 사라지게되어 부자연스러우므로, padding-bottom을 주어 공간을 주게됨으로서 마진병합 현상을 없애준다.
	padding대신에 border: 1px solid transparent, overflow: hidden 으로도 할 수 있다.
	*/
}
.step{
	margin-bottom: 60vh;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	border : 0.2px solid rgba(216,216,216,0.2);
	box-shadow: rgba(0,0,0,0.3)0 0 3px;
	background: rgba(255,255,255,0.8);
}

.bird{
	position: absolute;
	left: 0;
	bottom: 70%;
	width: 100px;
	transform: translateX(-100%);
	transition: 1.5s 0.5s linear;
}

[data-index="5"] .bird{
	left: 30%;
	bottom: 30%;
}

.global-footer{
	padding: 2rem 0;
	text-align: center;
}

.strikethrough{
	text-decoration: line-through;
}