body{
    min-width: 1280px;
}

/* header css start */
header{
    position: relative;
    text-align: center;
    height: 81px;
    border-bottom: 1px solid #e5e5e5;
}
header h1{
    position: absolute;
    left: 50px;
    top: 0;
    padding: 14px 0 0;
}
header h1 a{
    display: block;
    width: 113px;
    height: 49px;
    color: transparent;
    background: url('../assets/sp_com.png') no-repeat no-repeat -428px -1px;

}
header .lnb li{
    display: inline-block;
}
header .lnb li a{
    font-size: 17px;
    color: #0d0d0d;
    display: block;
    height: 81px;
    padding: 0 35px;
    line-height: 81px;
}
header .lnb li a span{
    position: relative;
}
header .lnb li a:hover span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    display: block;
    width: 100%;
    height: 1px;
    background: #2d5b79;
}
header .lnb li a:hover{
    color: #2d5b79;
    font-weight: 500;
}
header .spot{
    position: absolute;
    right: 50px;
    top: 0;
}
header .spot li{
    position: relative;
    float: left;
}
header .spot li::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 7px;
    background: #ccc;
}
header .spot li:first-child::after{
    display: none;
}
header .spot li a{
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}
header .spot li:last-child a{
    padding-right: 0px;
}
header .spot li a:hover{
    color: #2d5b79;
    text-decoration: underline;
}
/* header css end */

/* visual css start */
.visual{
    padding: 0 50px;
    position: relative;
}
.visual .con > div{
    height: 640px;
}
.visual .con .slide{
    background: url(../assets/bg_main09.jpg) no-repeat center;
    background-size : cover ;
    color: #fff;
    font-size: 32px;
    line-height: 46px;
}
.visual .con .slide p{
    padding: 19px 0 0 ;
    font-size: 20px;
    line-height: 100%;
}
.visual .con .slide .txt{
    position: absolute;
    left: 50%;
    top: 175px;
}
/* visual css end */

/* product css start */
.product a{
    color: #001829;
    font-size: 15px;
    display: block;
}
.product a:hover{
    color: #2d5b79;
    font-weight: bold;
}
.product a::before{
    content: "";
    display: block;
    width: 64px;
    height: 52px;
    margin: 0 0 26px;
    background: url("../assets/sp_com.png") no-repeat;
}
.product ul{
    text-align: center;
    padding: 46px 0 41px;
    font-size: 0px;
}
.product li{
    display: inline-block;
    text-align: center;
    padding: 0 55px;
}
.product li:nth-child(1) a::before{
    background-position: -3px -118px;
}
.product li:nth-child(2) a::before{
    background-position: -75px -118px;
}
.product li:nth-child(3) a::before{
    background-position: -148px -118px;
}
.product li:nth-child(4) a::before{
    background-position: -219px -118px;
}
.product li:nth-child(5) a::before{
    background-position: -292px -118px;
}
.product li:nth-child(6) a::before{
    background-position: -364px -118px;
}
.product li:nth-child(1) a:hover::before{
    background-position: -3px -184px;
}
.product li:nth-child(2) a:hover::before{
    background-position: -75px -184px;
}
.product li:nth-child(3) a:hover::before{
    background-position: -148px -184px;
}
.product li:nth-child(4) a:hover::before{
    background-position: -219px -184px;
}
.product li:nth-child(5) a:hover::before{
    background-position: -292px -184px;
}
.product li:nth-child(6) a:hover::before{
    background-position: -364px -184px;
}
/* product css end */

/* magazine css start */
.magazine{
    background: #dfd9d1;
    position: relative;
    height: 670px;
    overflow: hidden;
}
.magazine h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
    color: #000;
    text-align: center;
    padding: 50px 0 16px;
}
.magazine > p{
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}
.magazine .slide_box > div{
    width: 1180px;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}
.magazine .slide_box >div:nth-child(1){
    margin-left: -1280px;
}
.magazine .slide_box >div:nth-child(3){
    margin-left: 1280px;
}
.magazine .slide_box .left{
    float: left;
    width: 800px;
    height: 430px;
    overflow: hidden;
    position: relative;
}
/* .magazine .slide_box .left div{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    padding: 44px 13px 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
}
.magazine .slide_box .left div p{
    font-size: 14px;
    padding: 0 0 16px;
}
.magazine .slide_box .left div h3{
    color: #fff;
    font-size: 26px;
}
.magazine .slide_box .left div a{
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: block;
    width: 160px;
    height: 45px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    text-align: center;
} */
.magazine .slide_box .left img{
    width: 100%;
}
.magazine .slide_box .right{
    float: right;
    background: #fff;
    width: 380px;
    height: 430px;
    padding: 20px 20px 0;
    box-sizing: border-box;
}
.magazine .slide_box .right li{
    padding: 0 0 20px;
}
.magazine .slide_box .right li a{
    display: table;
    width: 100%;
}
.magazine .slide_box .right li a:hover{
    text-decoration: underline;
}
.magazine .slide_box .right li a div{
    display: table-cell;
    position: relative;
    padding: 0 0 0 100px;
    font-size: 16px;
    color: #333;
    height: 82px;
    vertical-align: middle;
}
.magazine .slide_box .right li a strong{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    display: block;
    margin-bottom: 4px;
}
.magazine .slide_box .right li a img{
    position: absolute;
    left: 0;
    top: 0;
    width: 82px;
    height: 82px;
}
.magazine.slide .control{
    bottom: 48px;
}
.magazine.slide .prev{
    left: 50%;
    margin: 26px 0 0 -640px;
}
.magazine.slide .next{
    right: 50%;
    margin:26px -640px 0 0;
}
/* magazine css end */

/* bestitem css start */
.bestitem{
    padding: 40px 0;
}
.bestitem h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #000;
}
.bestitem > p{
    padding: 3px 0 38px;
    text-align: center;
    font-size: 16px;
}
.bestitem ul{
    width: 1180px;
    margin: 0 auto;
    display: flex;
}
.bestitem ul li{
    flex: 1;
    margin: 0 17px 0 0;
}
.bestitem ul li:last-child{
    margin: 0;
}
.bestitem ul li a{
    display: block;
    width: 280px;
}
.bestitem ul li a img{
    margin-bottom: 10px;
}

.bestitem ul li a p{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.bestitem ul li a p span{
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
/* bestitem css end */


/* banner css srart */
.banner{
    background: #f2f0ed;
    padding: 40px 0 90px 0;
    position: relative;
}
.banner.slide .control{
    bottom: 47px;
}
.banner.slide .control ul li{
    padding: 0;
    height: 5px;
    margin: 0 3px;
}
.banner.slide .control li.on a{
    background: #2d5b79;
}
.banner.slide .control li a{
    background: #bbc0bf;
    display: block;
    width: 50px;
    height: 3px;
}
.banner h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #000;
}
.banner > p{
    padding: 3px 0 38px;
    text-align: center;
    font-size: 16px;
}
.banner ul{
    width: 1180px;
    margin: 0 auto;
    display: flex;
}
.banner > ul li{
    flex: 1;
    margin: 0 0 0 20px;
    height: 553px;
    background: #fff;
}
.banner ul li:first-child{
    margin: 0;
}
.banner ul li a:hover{
    text-decoration: underline;
}
.banner ul li a > div{
    box-sizing: border-box;
    padding: 26px 28px 24px;
}
.banner ul li a > div strong{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 3em;
    letter-spacing: -2px;
}
.banner ul li a >div p{
    position: relative;
    padding-left: 67px;
    white-space: nowrap;
    font-size: 16px;
    word-break: keep-all;
    text-align: left;
    letter-spacing: -2px;
    margin-bottom: 5px;
}
.banner ul li a >div p span{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    font-weight: 500;
}
/* banner css end */

/* tip css start */
.tip{
    padding: 40px 0 90px 0;
    position: relative;
}
.tip.slide .control{
    bottom: 47px;
}
.tip.slide .control ul li{
    padding: 0;
    height: 5px;
    margin: 0 3px;
}
.tip.slide .control li.on a{
    background: #2d5b79;
}
.tip.slide .control li a{
    background: #bbc0bf;
    display: block;
    width: 50px;
    height: 3px;
}
.tip h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #000;
}
.tip > p{
    padding: 3px 0 38px;
    text-align: center;
    font-size: 16px;
}
.tip ul{
    width: 1180px;
    margin: 0 auto;
    display: flex;
}
.tip > ul  li{
    flex: 1;
    margin: 0 17px 0 0;
}
.tip ul li:last-child{
    margin: 0;
}
.tip ul li a{
    display: block;
    width: 280px;
}
.tip ul li a img{
    margin-bottom: 10px;
    width: 280px;
}
.tip ul li a strong{
    padding: 0 15px;
    margin-top: 16px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 3em;
    letter-spacing: -1px;
}

/* tip css end */
/* notice css start */
.notice{
    background: url("../assets/bg_main_business.jpg") no-repeat center top;
    background-size: cover;
}
.notice > div{
    width: 1180px;
    margin: 0 auto;
    padding: 55px 0 ;
}
.notice > div .top > ul{
    float: left;
}
.notice > div .top > ul a{
    display: block;
    width: 280px;
    height: 280px;
    padding: 153px 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    transition: all 0.5s;
}
.notice > div .top > ul a:hover{
    background: rgba(45, 91, 121, 0.3);
}
.notice > div .top > ul a span{
    display: block;
    font-weight: normal;
    font-size: 15px;
    padding: 12px 0 0 ;
    text-align: center;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: all 0.5s;
}
.notice > div .top > ul a:hover span{
    top: 0;
    opacity: 1;
}
.notice > div .top > ul li{
    float: left;
    margin:  0 20px 0 0;
}
.notice > div .top > ul li:nth-child(1){background: url('../assets/bg_key_link03.jpg') no-repeat;}
.notice > div .top > ul li:nth-child(2){background: url('../assets/bg_key_link03.jpg') no-repeat;}
.notice > div .top > ul li:nth-child(3){background: url('../assets/bg_key_link03.jpg') no-repeat;}

.notice > div .top >div {
    float: left;
    width: 280px;
    height: 280px;
    background: #fff;
    padding: 36px 20px 0;
    box-sizing: border-box;
}
.notice > div .top >div h2{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    padding: 0 0 30px 0;
}
.notice > div .top >div div{
    padding: 0 0 10px 0;
}
.notice > div .top >div select,
.notice > div .top >div input{
    width: 100%;
    height: 45px;
    border: none;
    text-indent: 20px;
    background: #f2f0ec;
}
.notice > div .top >div input::-webkit-input-placeholder{
    color: #949394;
    font-size: 14px;
}
.notice > div .top >div a{
    display: block;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 15px;
    background: #2c5b78;
    text-align: center;
    margin: 20px 0 0;
}
.notice article{
    padding: 20px 0 0;
}
.notice article > div{
    float: left;
    width: 580px;
    background-color: #f2f0ed;
    position: relative;
}
.notice article > div a{
    font-size: 16px;
    line-height: 19px;
    color: #424241;
}
.notice article > div a p{
    font-size: 12px;
    color: #979797;
    padding: 23px 0 0;
}
.notice article > div h2{
    text-align: center;
    color: #2d5b79;
    font-size: 25px;
    font-weight: 500;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #fff;
}
.notice article > div ul li{
    padding: 12px 30px;
    box-sizing: border-box;
    border-top: 1px solid #fff;
}
.notice article > div >a{
    position: absolute;
    top: 17px;
    right: 23px;
    width: 30px;
    height: 30px;
    background: #fff url('../assets/sp_com.png') no-repeat -196px -60px;
    border-radius: 30px;
    color: transparent;
}
.notice article > div.right{
    float: right;
}
.notice article > div ul li span{
    min-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    height: 2.4em;
    text-align: left;
    white-space: normal;
}
/* notice css end */



/* footer css start */
footer{
    background-color: #4c5459;
    color: #fff;
    font-size: 14px;
}
footer .top{
    background: #383f43;
}
footer .top > div{
    width: 1180px;
    margin: 0 auto;
    padding: 13px 0;
}
footer .top >div ul{
    float: left;
}
footer .top > div ul li{
    float: left;
    padding: 0 19px 0 0;
    position: relative;
}
footer .top > div ul li::after{
    content: "";
    width: 1px;
    height: 8px;
    background: #70767a;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
}
footer .top > div ul li:last-child::after{
    display: none;
}
footer .top > div ul li a{
    color: #fff;
    font-size: 13px;
    line-height: 45px;
}
footer .top >div div{
    float: right;
    position: relative;
    
}
footer .top >div div p{
    display: inline-block;
    color: #fff;
    padding: 0 80px;
    background-color: #2a3033;
    vertical-align: top;
    position: relative;
}
footer .top >div div p::after{
    content: "제품구매 문의는 대리점 찾기에서 가까운 매장을 검색 해 주세요";
    display: inline-block;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    left: 0px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0px 5px;
    letter-spacing: -1px;
    line-height: 1.5;
    font-weight: 300;
}
footer .top >div div p span{
    display: inline-block;
    height: 47px;
    line-height: 31px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: top;
    letter-spacing: -1px;
}
footer .top >div div p strong{
    margin-left: 16px;
    font-weight: 300;
    font-size: 18px;
    font-weight: 500;
}
footer .top >div div select{
    position: relative;
    margin-left: 7px;
    display: inline-block;
    padding: 0 20px;
    width: 200px;
    height: 45px;
    line-height: 45px;
    color: #191919;
    font-size: 12px;
    border: none;
}

footer .bottom{
    width: 1180px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 0;
    position: relative;
    text-align: left;
    letter-spacing: -1px;
    font-weight: 300;
}
footer .bottom p {
    line-height: 27px;
    letter-spacing: -1px;
    font-weight: 300;
}
footer .bottom p:nth-child(1){
    display: inline-block;
    background: url('../assets/sp_com.png') no-repeat -150px 0;
    width: 130px;
	height: 50px;
    color: transparent;
    margin-bottom: 25px;
}
footer .bottom p:nth-child(2) span:first-child{
    position: relative;
    margin: 0 10px;
    color: transparent;
}
footer .bottom p:nth-child(2) span:first-child::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 10px;
}
footer .bottom p:nth-child(2) span:last-child{
    font-size: 18px;
    font-weight: 500;
}
footer .bottom p:nth-child(3){
    
}
/* footer css end */

/* slide css start */
.slide .prev,
.slide .next{
    display: block;
    position: absolute;
    z-index: 10;
    width: 25px;
    height: 47px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../assets/sp_com.png) no-repeat;
    color: transparent;
}
.slide .prev{
    left: 82px;
    background-position: -128px -60px;
}
.slide .next{
    right: 82px;
    background-position: -159px -61px;
}
.slide .control{
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 100%;
    text-align: center;
}

.slide .control ul{
    display: inline-block;
    font-size: 0px;
    position: relative;
    top: -7px;
}
.slide .control li{
    display: inline-block;
    padding: 0 3px;
}
.slide .control li.on a{
    background: #fff;
}
.slide .control li a{
    display: block;
    width: 50px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
}
.slide .control a{
    color: transparent;
}
.slide .control > div{
    display: inline-block;
    position: relative;
    padding: 0 45px 0 0;
}
.slide .control > div > div{
    position: absolute;
    right: 0;
}
.slide .control > div > div a{
    overflow: hidden;
    display: inline-block;
    width: 8px;
    height: 9px;
    margin: 0 0 0 7px;
    opacity: 0.5;
    background: url(../assets/sp_com.png) no-repeat;
}
.slide .control > div > div a.on{
    opacity: 1;
}
.slide .control > div > div a.play{
    background-position: -109px -72px;
}
.slide .control > div > div a.pause{
    background-position: -108px -60px;
}
/* slide css end */
